html, body {
    height: 100%;               /* растягиваем фон на всю страницу */
    /* font-family: sans-serif; */   /* новый шрифт без засечек */

}

body {
    display: flex;              /* технология CSS flexible элменты произвольным образом */
    flex-direction: column;     /* все лементы в колоночку */
    justify-content: center;    /* все эелементы по центру */
    align-items: center;        /* все эелементы по центру */
}

.main-page {
    display: flex;
    margin-bottom: 30px;
}

#task-form {
    width: 400px;
    height: 800px;
    border: 1px solid grey;
    margin-right: 30px;         /* Отступ справа */
    align-items: center;        /* все эелементы по центру */
}

.task-list {
    width: 400px;
    height: 800px;
    border: 1px solid red;
    align-items: center;        /* все эелементы по центру */
}

.format-area {
    margin-top: 30px;
    width: 400px;
    height: 80px;
    border: 1px solid grey;     /* граница контейнера div */

}

.density-area {
    width: 400px;
    height: 50px;
    border: 1px solid grey;

}

.fold-area {
    width: 400px;
    height: 50px;
    border: 1px solid grey;
}

.count-copy-area {
        width: 400px;
        height: 50px;
        border: 1px solid grey;

        #copy-field {
            width: 50px;
        }
}

.name-person-area {
        width: 400px;
        height: 50px;
        border: 1px solid grey;

        #name-field {
            width: 300px;
            background-color; yellow;
        }
}

.tel-person-area {
        width: 400px;
        height: 50px;
        border: 1px solid grey;
}

.file-area {
        width: 400px;
        height: 50px;
}

.btn-send {
    margin-top: 100px;          /* Отступ сверху */
    width: 400px;
    height: 100px;
    background-color: lightgreen;
}

.task-item {
    width: 400px;
    border: 1px solid grey;
}
