html, body {
    height: 100%;               /* растягиваем фон на всю страницу */
    font-family: sans-serif;   /* новый шрифт без засечек */
    font-size: 14px;

}

label {
    font-weight: bold;
}

body {
    display: flex;              /* технология CSS flexible элменты произвольным образом */
    flex-direction: column;     /* все лементы в колоночку */
    justify-content: center;    /* все эелементы по центру */
    align-items: center;        /* все эелементы по центру */

}

.main-page {
    display: flex;
    margin-bottom: 30px;
}

#task-form {
    width: 600px;
    height: 800px;
    border: 1px solid grey;
    margin-right: 30px;         /* Отступ справа */
    align-items: center;        /* все эелементы по центру */
    border-radius: 15px;        /* закругленные углы */
    background-color: lightsteelblue;
}

.task-list {
    width: 600px;
    height: 800px;
    border: 1px solid red;
    border-radius: 15px;
    background-color: lightsteelblue;
    align-items: center;        /* все эелементы по центру */
}

.format-area {
    margin-top: 30px;
    width: 580px;
    height: 80px;
    border: 1px solid grey;     /* граница контейнера div */
    margin-left: auto;          /* способ выравнивания блоков по центру */
    margin-right: auto;
    background-color: white;
}

.density-area {
    width: 580px;
    height: 50px;
    border: 1px solid grey;
    margin-left: auto;          /* способ выравнивания блоков по центру */
    margin-right: auto;
    background-color: white;
}

.fold-area {
    width: 580px;
    height: 50px;
    border: 1px solid grey;
    margin-left: auto;          /* способ выравнивания блоков по центру */
    margin-right: auto;
    background-color: white;
}

.count-copy-area {
    width: 580px;
    height: 50px;
    border: 1px solid grey;
    margin-left: auto;          /* способ выравнивания блоков по центру */
    margin-right: auto;
    background-color: white;

        #copy-field {
            width: 50px;
        }
}

.name-person-area {
    width: 580px;
    height: 50px;
    border: 1px solid grey;
    margin-left: auto;          /* способ выравнивания блоков по центру */
    margin-right: auto;
    background-color: white;

        #name-field {
            width: 300px;
            background-color; yellow;
        }
}

.tel-person-area {
    width: 580px;
    height: 50px;
    border: 1px solid grey;
    margin-left: auto;          /* способ выравнивания блоков по центру */
    margin-right: auto;
    background-color: white;
}

.file-area {
    width: 580px;
    height: 50px;
    border: 1px solid grey;
    margin-left: auto;          /* способ выравнивания блоков по центру */
    margin-right: auto;
    background-color: white;
}

.btn-send {
    margin-top: 260px;          /* Отступ сверху */
    width: 600px;
    height: 100px;
    background-color: lightgreen;
    margin-left: auto;          /* способ выравнивания блоков по центру */
    margin-right: auto;
    border-radius: 15px;
}

.task-item {
    margin-top: 30px;
    width: 580px;
    border: 1px solid grey;
    background-color: white;
    margin-left: auto;          /* способ выравнивания блоков по центру */
    margin-right: auto;
}
